html
  color #222
  font-size 1em
  line-height 1.4
::-moz-selection
  background #b3d4fc
  text-shadow none
::selection
  background #b3d4fc
  text-shadow none
hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0
audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle
fieldset
  border 0
  margin 0
  padding 0
textarea
  resize vertical
.browserupgrade
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

body
  font 16px/26px Helvetica, Helvetica Neue, Arial, sans-serif
  margin 0

.wrapper
  width 90%
  margin 0 5%

.header-container
  border-bottom 20px solid #e44d26

.footer-container,
.main aside
  border-top 20px solid #e44d26

.header-container,
.footer-container,
.main aside
  background #f16529

.title
  color white

nav
  ul
    margin 0
    padding 0
    list-style-type none
  a
    display block
    margin-bottom 10px
    padding 15px 0
    text-align center
    text-decoration none
    font-weight bold
    color white
    background #e44d26
    &:hover, &.active
      color #e44d26
      text-decoration none
      background white
  @media only screen and (min-width 480px)
    a
      float left
      width 27%
      margin 0 1.7%
      padding 25px 2%
      margin-bottom 0
    ul li
      display inline
    li:first-child a
      margin-left 0
    li:last-child a
      margin-right 0

.main
  padding 30px 0
  article
    h1
      font-size 2em
  aside
    color white
    padding 0px 5% 10px
    margin-bottom 10px

.demo-slider
  margin 0 auto
  img
    position relative
    width 100%

.footer-container footer
  color white
  padding 20px 0
  a
    text-decoration none
    color white
    &:hover
      text-shadow 0 0 5px white
      color #e44d26

.ie7 .title
  padding-top 20px

@media only screen and (min-width 768px)
  .header-container,
  .main
    aside
      -webkit-box-shadow 0 5px 10px #aaa
      -moz-box-shadow 0 5px 10px #aaa
      box-shadow 0 5px 10px #aaa
      float right
      width 28%
    article
      float left
      width 57%
  .title
    float left
  nav
    float right
    width 45%

@media only screen and (min-width 1140px)
  .wrapper
    width 1026px
    margin 0 auto

.hidden
  display none !important
  visibility hidden

.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px
  .focusable:active,
  .focusable:focus
    clip auto
    height auto
    margin 0
    overflow visible
    position static
    width auto

.invisible
  visibility hidden

.clearfix
  *zoom 1
  &:before,
  &:after
    content " "
    display table
  &:after
    clear both

@media print
  *,
  *:before,
  *:after
    background transparent !important
    color #000 !important
    box-shadow none !important
    text-shadow none !important
  a,
  a:visited
    text-decoration underline
  a[href]:after
    content " (" attr(href) ")"

  abbr[title]:after
    content " (" attr(title) ")"

  a[href^="#"]:after,
  a[href^="javascript:"]:after
    content ""

  pre,
  blockquote
    border 1px solid #999
    page-break-inside avoid

  thead
    display table-header-group

  tr,
  img
    page-break-inside avoid

  img
    max-width 100% !important

  p,
  h2,
  h3
    orphans 3
    widows 3

  h2,
  h3
    page-break-after avoid
