<div class="main wrapper clearfix">
  <h1>maxHeight: "auto"</h1>
  <div class="demo-slider">
    <img src="static/img/3.jpg" alt="3'rd pic"/>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".demo-slider").slideIt({
      time: 2000,
      images: ["static/img/1.jpg", "static/img/2.jpg"],
      maxHeight: "auto"
    });
  });
</script>
