<div class="main wrapper clearfix">
  <h1>maxHeight: 500px</h1>
  <div class="demo-slider">
    <img src="static/img/3.jpg" alt="3"/>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".demo-slider").slideIt({
      time: 1000,
      images: ["static/img/1.jpg", "static/img/2.jpg"],
      maxHeight: 500
    });
  });
</script>
