<div class="main wrapper clearfix">

  <article>
    <header>
      <h1>What
        <small>is it</small>?</h1>
      <p>Esentially its a slideshow plugin that takes image links and displays them at an interval using jQuery</p>
    </header>
    <section>
      <h2>Why
        <small>did I make it</small>?</h2>
      <p>Most of the existing slideshow plugins are too complicated, have too much overhead or are overkill for the task at hand.</p>
    </section>
    <section>
      <h2>How
        <small>to use it</small>?</h2>
      <p>The usage is really simple.
        <br/>Everything is done using the .slideIt() method.</p>
      <p>This method takes one parameter, an object with the following properties:</p>
      <ul>
        <li>
          <code>images</code>
          &dash; an array of links to images. Defaults to placeholders from
          <i>placehold.it</i>
        </li>
        <li>
          <code>time</code>
          &dash; interval between each slide in miliseconds. Defaults to 5000 (5s)</li>
        <li>
          <code>maxHeight</code>
          &dash; max height of the images. Minimizes autoscroll effect when the slide is changing. Defaults to 300px, set this to
          <code>"auto"</code>
          to disable</li>
      </ul>
    </section>
    <section>
      <h3>Code sample:</h3>
      <pre>
$(document).ready(function(){
  $("#slider-div").slideIt({
    time: 3000,
    images: ["/images/1.jpg", "/images/3.png"],
    maxHeight: $("footer.container").height()
  });
});
      </pre>
    </section>
    <footer>
      <h3>Permissions:</h3>
      <p>This is licensed
        <b>MIT</b>, so feel free to edit and fork.</p>
    </footer>
  </article>

  <aside>
    <h3>Demos</h3>
    <p>Check out Demo 1 and 2 to see the slider in action</p>
  </aside>
  <aside>
    <h3>Requirements</h3>
    <p>There are 2 requirements:
      <ol>
        <li>
          <b>jQuery</b>
          &dash; Pretty obvious</li>
        <li>Set the css for the slider div to position images relatively
          <br>
          <code>
            #slider-div img{ position: relative }
          </code>
        </li>
      </ol>
    </p>
  </aside>

</div>
<!-- #main -->
